# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Flask / instance
instance/

# Database
*.db
*.sqlite
*.sqlite3

# Environment files
.env

# IDE
.vscode/
.idea/

